@media screen and (max-width: 599px) {
    #seeMoreBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        cursor: pointer;
        border: none;
    }
    #seeMoreBtn:active {
        transform: scale(0.95);
        filter: brightness(0.8);
    }
    #seeMoreBtn:active p{
        text-decoration: underline;
    }
    #seeMoreBtn > .span1{
        margin: 30px;
        height: 50px;
        width: 5px;
        background-color: var(--spanColor);
    }
    #seeMoreBtn > .span2{
        margin: 30px;
        height: 50px;
        width: 5px;
        background-color: var(--spanColor);
    }
}

@media screen and (min-width: 600px) {
    #seeMoreBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        cursor: pointer;
        border: none;
    }
    #seeMoreBtn:active {
        transform: scale(0.95);
        filter: brightness(0.8);
    }
    #seeMoreBtn:active p{
        text-decoration: underline;
    }
    #seeMoreBtn > .span1{
        margin: 30px;
        height: 50px;
        width: 5px;
        background-color: var(--spanColor);
    }
    #seeMoreBtn > .span2{
        margin: 30px;
        height: 50px;
        width: 5px;
        background-color: var(--spanColor);
    }
}