@media screen and (max-width: 599px) {
    #tattoo{
        display: flex;
        flex-direction: column;
        transform: scale(0.2);
    }
    #tattoo span:nth-child(1){
        background-color: white;
        height: 10px;
        width: 100px;
        border-radius: 20px;
        transform: translate(-200px, 0);
    }
    #tattoo span:nth-child(2){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(-100px, -10px) rotate(45deg);
    }
    #tattoo span:nth-child(3){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(-50px, -15px) rotate(45deg);
    }
    #tattoo span:nth-child(4){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(10px, -25px) rotate(45deg)
    }
    #tattoo span:nth-child(5){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(55px, -30px) rotate(-45deg);
    }
    #tattoo span:nth-child(6){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(110px, -40px) rotate(-45deg);
    }
    #tattoo span:nth-child(7){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(170px, -50px) rotate(-45deg);
    }
    #tattoo span:nth-child(8){
        background-color: white;
        height: 10px;
        width: 100px;
        border-radius: 20px;
        transform: translate(240px, -60px) rotate(0);
    }      
}
@media screen and (min-width: 600px) {
    #tattoo{
        display: none;
        visibility: hidden;
    }
}