@media screen and (max-width: 599px) {
    #tattoo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.2);
    }
    .mobileOnly{
        display: flex;
    }
    .desktopOnly{
        display: flex;
    }
    #tattoo span{
        display: var(--d-display);
        border-radius: 20px;
        background-color: var(--t-color);
    }
    #tattoo span:nth-child(1){
        height: 10px;
        width: 100px;
        transform: translate(-200px, 0);
    }
    #tattoo span:nth-child(2){
        height: 10px;
        width: 70px;
        transform: translate(-100px, -10px) rotate(45deg);
    }
    #tattoo span:nth-child(3){
        height: 10px;
        width: 70px;
        transform: translate(-45px, -15px) rotate(45deg);
    }
    #tattoo span:nth-child(4){
        height: 10px;
        width: 70px;
        transform: translate(10px, -20px) rotate(45deg)
    }
    #tattoo span:nth-child(5){
        height: 10px;
        width: 70px;
        transform: translate(55px, -30px) rotate(-45deg);
    }
    #tattoo span:nth-child(6){
        height: 10px;
        width: 70px;
        transform: translate(110px, -40px) rotate(-45deg);
    }
    #tattoo span:nth-child(7){
        height: 10px;
        width: 70px;
        transform: translate(170px, -50px) rotate(-45deg);
    }
    #tattoo span:nth-child(8){
        height: 10px;
        width: 100px;
        transform: translate(270px, -60px) rotate(0);
    }
}
@media screen and (min-width: 600px) {
    #tattoo{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: scale(0.3);
    }
    #tattoo span{
        display: var(--d-display);
        border-radius: 20px;
        background-color: var(--t-color);
    }
    .mobileOnly{
        display: none;
    }
    .desktopOnly{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: scale(0.3);
    }
    #tattoo span:nth-child(1){
        height: 10px;
        width: 100px;
        transform: translate(-250px, 0);
    }
    #tattoo span:nth-child(2){
        height: 10px;
        width: 70px;
        transform: translate(-150px, -10px) rotate(40deg);
    }
    #tattoo span:nth-child(3){
        height: 10px;
        width: 70px;
        transform: translate(-90px, -15px) rotate(40deg);
    }
    #tattoo span:nth-child(4){
        height: 10px;
        width: 70px;
        transform: translate(-20px, -20px) rotate(40deg)
    }
    #tattoo span:nth-child(5){
        height: 10px;
        width: 70px;
        transform: translate(25px, -30px) rotate(-40deg);
    }
    #tattoo span:nth-child(6){
        height: 10px;
        width: 70px;
        transform: translate(90px, -40px) rotate(-40deg);
    }
    #tattoo span:nth-child(7){
        height: 10px;
        width: 70px;
        transform: translate(150px, -50px) rotate(-40deg);
    }
    #tattoo span:nth-child(8){
        height: 10px;
        width: 100px;
        transform: translate(250px, -60px) rotate(0);
    }
}