*{
  margin: 0;
}
@media screen and (max-width: 599px) {
  .navBar{
    position: absolute;
    top: 0;
  }
}
@media screen and (min-width: 600px){
  body{
    background-color: hsla(0, 0%, 25%, 0.505);
  }
  #mainEl{
    margin-top: 5.5rem;
    }
}