*{
  margin: 0;
}
@media screen and (max-width: 599px) {
  .navBar{
    position: absolute;
    top: 0;
  }
  .mainEl{
    margin: 70px 0 0 0;
  }
}
@media screen and (min-width: 600px){
  .navBar{
    position: absolute;
    top: 0;
  }
  .mainEl{
    margin: 70px 0 0 0;
  }
}