@media screen and (max-width: 599px) {
    .heroCoverContainer{
        display: flex;
        position: relative;
    }
    .HeroCover{
        height: auto;
        max-width: 100%;
    }
}
@media screen and (min-width: 600px) {
    .heroCoverContainer{
        display: flex;
        position: relative;
    }
    .HeroCover{
        height: auto;
        max-width: 100%;
    }
}