@media screen and (max-width: 599px) {
    .contactModal{
        display: flex;
        flex-direction: column;
        top: -150rem;
        height: 70vh;
        width: 100%;
        position: absolute;
        transition: .3s ease-in-out;
        z-index: 1;
    }
    .contactModal.active{
        top: 4.36rem;
    }
    .contactModal > #modelStanding{
        padding: 0;
        position: relative;
        height: 100vh;
        width: 20rem;
        transform: scale(1.2);
    }
    #closeBtn{
        right: 0;
        position: absolute;
    }
    #closeBtn > img{
        width: 50px;
    }
}
@media screen and (min-width: 600px) {
    #contactModal{
        display: flex;
        top: -150rem;
        width: 100%;
        position: absolute;
        transition: .3s ease-in-out;
        z-index: 1;
        background-color: hsla(0, 0%, 0%, 0.564);
    }
    #contactModal.active{
        top: 5.64rem;
        position: absolute;
        transition: .3s ease-in-out;
    }
    #closeBtn{
        right: 0;
        position: absolute;
        cursor: pointer;
    }
    #closeBtn > img{
        width: 50px;
    }
}