@media screen and (max-width: 599px) {
    #itBerriesBg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 75px;
        height: 100vh;
        background-image: url(https://i.ytimg.com/vi/-g3MoakyjO8/maxresdefault.jpg);
    }
    #seeMore{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    #seeMore > .span1{
        height: 50px;
        width: 5px;
        background-color: wheat;
    }
    #seeMore > .span2{
        height: 50px;
        width: 5px;
        background-color: wheat;
    }
    #seeMore p a{
        color: white;
        text-decoration: none;
        margin: 50px;
    }
    #seeMore p a:hover{
        text-decoration: underline;
    }
    #itBerriesBg > h1{
        margin: 50px;
    }
    #itBerriesBg > p{
        font-size: 25px;
    }
    #itBerriesBg p, #itBerriesBg h1{
        color: wheat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }   
}
@media screen and (min-width: 600px) {    
    #itBerriesBg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://i.ytimg.com/vi/-g3MoakyjO8/maxresdefault.jpg);
    }
    #itBerriesBg > h1{
        margin: 50px;
    }
    #itBerriesBg > p{
        font-size: 25px;
    }
    p, h1{
        color: wheat;
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    #itBerriesBg p, #itBerriesBg h1{
        color: wheat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }   
    #seeMore{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 50px;
    }
    #seeMore > .span1{
        height: 50px;
        width: 5px;
        background-color: wheat;
    }
    #seeMore > .span2{
        height: 50px;
        width: 5px;
        background-color: wheat;
    }
    #seeMore p a{
        color: white;
        text-decoration: none;
        margin: 50px;
    }
    #seeMore p a:hover{
        text-decoration: underline;
    }
}