@media screen and (max-width: 599px) {
    #itBerriesBg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(39, 39, 39);
    }
    #itBerriesBg > h1{
        margin: 50px;
    }
    #itBerriesBg > p{
        padding: 0 75px;
        font-size: 25px;
    }
    #itBerriesBg p, #itBerriesBg h1{
        color: wheat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}
@media screen and (min-width: 600px) {    
    #itBerriesBg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        padding: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(39, 39, 39);
    }
    #itBerriesBg > h1{
        margin: 50px;
    }
    #itBerriesBg > p{
        padding: 0 75px;
        font-size: 25px;
    }
    #itBerriesBg p, #itBerriesBg h1{
        color: wheat;
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    #itBerriesBg p, #itBerriesBg h1{
        color: wheat;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}