#skillSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#skillSection section:nth-child(1),
#skillSection section:nth-child(2){
    display: inline-flex;
    gap: 10rem;
}
#skillSection img{
    height: 50px;
}
@media screen and (max-width: 599px) {
    
}
@media screen and (mix-width: px) {
    
}