@media screen and (max-width: 599px) {
    #contactModalCover{
        background-color: green;
        height: 300%;
    }
    .contactModal{
        display: flex;
        flex-direction: column;
        top: -150rem;
        height: 85vh;
        width: 100%;
        background-color: hsla(0, 0%, 0%);
        position: absolute;
        transition: .5s ease-in-out;
        z-index: -1;
    }
    .contactModal.active{
        top: 4.36rem;
    }
    #modelStanding{
        padding: 0;
        position: relative;
        height: 80vh;
        width: 20rem;
    }
    #introduction{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        color: wheat;
        top: 50%;
        left: 50%;
        transform: translate(-100px, -50px);
    }
    #introduction h1, #introduction h3{
        font-size: 30px;
    }    
    #closeBtn{
        right: 0;
        position: absolute;
    }
    #closeBtn > img{
        height: 50px;
        width: 50px;
    }
}
@media screen and (min-width: 600px) {
    #contactModal{
        display: flex;
        top: -150rem;
        height: 100vh;
        width: 100%;
        position: absolute;
        transition: .3s ease-in-out;
        z-index: 999;
        background-color: hsla(0, 0%, 0%);
    }
    #contactModal.active{
        top: 5.64rem;
        position: absolute;
        transition: .3s ease-in-out;
    }
    #introduction{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        color: wheat;
        top: 50%;
        left: 50%;
        transform: translate(-100px, -50px);
    }
    #closeBtn{
        right: 0;
        position: absolute;
        cursor: pointer;
    }
    #closeBtn > img{
        width: 50px;
    }
    #modalCover{
        height: 100vh;
        width: 125vw;
        background-color: hsla(0, 0%, 25%, 0.642);
        position: absolute;
        z-index: -1;
        transform: translate(0, 265px) rotate(-15deg);
    }
}