@media screen and (max-width: 599px) {
    .contactModal{
        display: flex;
        flex-direction: column;
        top: -150rem;
        height: 100vw;
        width: 100%;
        overflow: hidden;
        background-color: hsla(0, 0%, 0%);
        position: absolute;
        transition: .5s ease-in-out;
        z-index: -1;
    }
    .contactModal.active{
        top: 4.36rem;
    }
    #modelStanding{
        padding: 0;
        position: relative;
        height: 80vh;
        width: 20rem;
    }
    #modalContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        top: 45%;
        left: 30%;
    }
    #introductionNavContact{
        color: wheat;
        font-size: 15px;
    }  
    #socials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #socials img{
        margin: 20px;
        height: 50px;
    }
    /* #socials span:nth-child(2){
        filter: invert(100%);
    }
    #socials span:nth-child(3){
        filter: invert(100%);
    } */
    #closeBtn{
        right: 0;
        position: absolute;
    }
    #closeBtn > img{
        height: 50px;
        width: 50px;
    }
    #modalCover{
        height: 150vh;
        width: 125vw;
        background-color: hsla(0, 0%, 25%, 0.642);
        position: absolute;
        z-index: -1;
        transform: translate(100px, 265px) rotate(-15deg);
    }
}
@media screen and (min-width: 600px) {
    #contactModal{
        display: flex;
        top: -150rem;
        height: 100vh;
        width: 100%;
        position: absolute;
        transition: .3s ease-in-out;
        z-index: 999;
        background-color: hsla(0, 0%, 0%);
    }
    #contactModal.active{
        top: 5.64rem;
        position: absolute;
        transition: .3s ease-in-out;
    }
    #modalContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        gap: 50px;
        top: 40%;
        left: 50%;
    }
    #introductionNavContact{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
        color: wheat;
        font-size: 25px;
    }
    #introductionNavContact h3{
        padding: 30px 0;
    }
    #introductionNavContact p{
        color: gray;
    }
    #closeBtn{
        right: 0;
        position: absolute;
        cursor: pointer;
    }
    #closeBtn > img{
        width: 50px;
    }
    #modalCover{
        height: 100vh;
        width: 125vw;
        background-color: hsla(0, 0%, 25%, 0.642);
        position: absolute;
        z-index: -1;
        transform: translate(0, 265px) rotate(-15deg);
    }
    #socials{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 15%;
        left: 0;
    }
    #socials img{
        margin: 20px;
        height: 50px;
    }
    /* #socials span{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        margin: 20px;
        background-color: hsla(0, 0%, 50%, 0.644);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.75);
    } */
}