@media screen and (max-width: 599px) {
    .heroCoverContainer{
        display: flex;
        position: relative;
    }
    .HeroCover{
        position: relative;
        height: auto;
        max-width: 100%;
    }
    #introductionHero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        color: wheat;
        top: 50%;
        left: 50%;
        transform: translate(-100px, -50px);
    }
}
@media screen and (min-width: 600px) {
    .heroCoverContainer{
        display: flex;
        position: relative;
    }
    .HeroCover{
        height: auto;
        max-width: 100%;
    }
    #introductionHero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        gap: 20px;
        color: wheat;
        top: 50%;
        left: 50%;
        transform: translate(-100px, -50px);
    }
}