@media screen and (max-width: 599px){
    nav{
        display: flex;
        position: fixed;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 70px;
        background-color: hsl(0, 0%, 15%);
        z-index: 999;
    }
    nav img{
        height: 40px;
    }
}
@media screen and (min-width: 600px){
    nav{
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        background-color: hsl(0, 0%, 15%);
    }
    #SGLogo{
        height: 55px;
    }
    nav button{
        display: none;
        background-color: transparent;
        border: none;
    }
    nav button:focus{
        background-color: white;
    }
    
}